<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>식 기본 객체 (Expression Basic Objects)</h1>
<ul>
    <li>각 객체.get('name') 해서 객체에 담긴 값들을 꺼내올 수 있다</li>
    <li>request = <span th:text="${#request}"></span></li>
    <li>#request. = <span th:text="${#request.getAttribute('obj')}"></span></li>
    <li>response = <span th:text="${#response}"></span></li>
    <li>session = <span th:text="${#session}"></span></li>
    <li>servletContext = <span th:text="${#servletContext}"></span></li>
    <li>locale = <span th:text="${#locale}"></span></li>
</ul>

<h1>편의 객체</h1>
<ul>
    <li>Request : param.파라미터명 = <span th:text="${param.paramData}"></span></li>
    <li>session = session.세션명 <span th:text="${session.sessionData}"></span></li>
    <li>spring bean = @Bean이름.Bean <span th:text="${@springBean.Bean('Spring!')}"></span></li>
</ul>
</body>
</html>